extends layout.pug

block content
  p
    a(class='button' href='/books/new') Create New Book
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        tr
          td
            a(href='/books/' + book.dataValues.id)= book.dataValues.title
          td= book.dataValues.author
          td= book.dataValues.genre
          td= book.dataValues.year
  - let num = 1;
  div.pagination-container
    ul(class='pagination')
      while num < totalPage + 1
        li(class='pagination-links' onclick='checkActiveLinks(this)')
          a(href='/books/page/' + num)= num++
  p
    a(class='button' href='/') Back
